services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env

  db:
    image: mysql
    restart: always
    ports:
      - "3307:3306"
    environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        MYSQL_DATABASE: ${DB_DATABASE}
        MYSQL_USER: ${DB_USERNAME}
        MYSQL_PASSWORD: ${DB_PASSWORD}

    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
