/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body {
    font-family: Poppins;
    overflow-y:hidden;
}

tr {
    cursor: pointer;
}

.modal-scroll {
    max-height:250px;
    height: 250px;
    overflow-y:auto;
}

