/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

body {
    font-family: Poppins;
    overflow-y:hidden;
}

.modal-scroll {
    max-height:250px;
    height: 250px;
    overflow-y:auto;
}

a {
    cursor: pointer;
}

#status {
    height: 40px;
    width: 180px;
    cursor:pointer;
}
