@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    overflow-y: hidden;
    font-family: Poppins;
}

.custom {
    width: 78px !important;
}

button.dt-button.btn-success {
    font-size: 16px;
    background-color: pink!important;
    border:none !important;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}
