@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
    overflow-y: hidden;
    font-family: Poppins;
}

#add_button {
    padding: 15px;
    margin-right: 45px;
    background-color: pink!important;
    color: black!important;
    border:none !important;
    font-weight: 500;
    font-size: 16px;
}

.custom {
    width: 78px !important;
}
