@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*, ::before, ::after {
  box-sizing: border-box;
}


body {
  height: 100%;
}


.sb-topnav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#layoutSidenav_content {
  top: 100px;
}



#layoutSidenav {
  display: flex;
}


#layoutSidenav .sidebar {
  flex-basis: 120px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-120px);
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}


#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  height: auto;
  margin-left: -120px;
}


#sidebarToggle{
  margin-left: 120px;
}

.sidebar {
  font-family: 'Poppins', sans-serif;
  background-color: #FFA8D4;
  position: fixed;
  transition: all .25s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0 25px 25px 0;
  width: 120px;
  /* height: 75vh; */
  height: 100%;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
}



@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-120px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -120px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}


.sidebar .sb-sidenav {
  padding-top: 56px;
}

.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
  overflow-y: auto;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}





/* STYLING */


.navbar-brand{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

h2.page-title{
  margin-left:30px;
}


.sidebar p {
  color: #FA2290;
}

.menu-text {
  font-weight: 600;
  font-size: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.nav-link p {
  margin: 0;
  font-size: 14px;
}


.border_bottom,
.border_top {
  position: relative;

}

.border_bottom::after,
.border_top::after {
  content: "";
  position: absolute;
  bottom: 0;
  /*UNCOMMENT this if the border is displayed at the right side*/
  /* transform: translateX(-50%); */
  opacity: 1;
  width: 50%;
  height: 1px;
  background-color: #FA2290;
  transition: all 1s ease-in-out 1s
}

.border_top::after {
  top: 0;
}



.border_box {
  border: 2px solid #FA2290;
  border-radius: 8px;
  padding: 7px 4px;
  transition: border 0.10s ease-in-out 0.10s, box-shadow 0.01s ease-in-out 0.01s;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.15);
  /* width: inherit; */
}




.nav-link i {
  font-size: 30px;
  color: #FA2290;
  border: none;
}

.nav-link-exit i {
  font-size: 24px;
}

.nav-link-exit p {
  font-size: 16px;

}





@media (max-width: 1440px) {

  /* Add your styles here */
  .nav-link p {
    font-size: 12px;
  }

}

@media (min-width: 1400px) {

  /* XXL breakpoint */
  .border_box {
    padding-left: 8px;
    padding-right: 8px;
  }
}
